<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Winner is you!</title>
  </head>
  <body>
    <section>
      <h1>Ta Winner is you!</h1>
      <!-- <winner name> -->
      <!-- <winning word?> -->
      <!-- <winner image?> -->

    </section>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tNJM4Plnj6w?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <form class="resetGame" action="/resetGame" method="post">
      <input type="submit" name="reset Button" value="Get a new word!">
    </form>
  </body>
</html>
